@model IEnumerable<Category>
<div class="list-view">
  @foreach (Category category in Model)
  {
    <a asp-action="Index" asp-route-id="@category.CategoryId">@category.CategoryName<small> - @category.Description</small></a>
    <br>
  }
</div>
@* @model IEnumerable<Discount>
<div class="list-view">
  @foreach (Discount discount in Model)
  {
    <a asp-action="Active" asp-route-id="@discount.DiscountId">@discount.Title (@discount.DiscountPercent)<small> - @discount.Description</small></a>
    <br>
  }
</div> *@